<div class="container-fluid">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
     <h4>OR</h4>
      <button><%= render "devise/shared/links" %></button>
  </div>
    <% end %>
  </div>

    <div class ='treatlogoDevise'>
      <a><a href = "/"><img src='http://www.oberweis.com/web/enews/treat-delivery-banner.gif' style='width:950px;height:185px;'></a>
    </div>
</div>