<%= form_for @product do |f| %>
<table>
  <tbody>
    <ul>
<%= f.label :name %>
<p><%= f.text_field :name %></p>
<%= f.label :isle %>
<p><%= f.text_field :isle %></p>
<%= f.label :price %>
<p><%= f.text_field :price %></p>
<%= f.label :description %>
<p><%= f.text_field :description %></p>
<%= f.label :photo %>
<p><%= f.text_field :photo %></p>
<%= f.label :vendor_id %>
<p><%= f.text_field :vendor_id %></p>
</ul>
</tbody>
</table>
  <br/>
      <div>
        <%= f.submit %>

      </div>
<% end %>